services:
  postgres:
    restart: always
    image: "postgres:16"
    ports:
      - "5432"
    environment:
      POSTGRES_DB: thingsboard
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
  thingsboard-ce:
    restart: always
    image: "thingsboard/tb-node:4.2.1"
    ports:
      - "8080:8080"
      - "7070:7070"
      - "1883:1883"
      - "8883:8883"
      - "5683-5688:5683-5688/udp"
    logging:
      driver: "json-file"
      options:
        max-size: "100m"
        max-file: "10"
    environment:
      TB_SERVICE_ID: tb-ce-node
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/thingsboard
      TB_MQTT_ENABLED: "true"
      TB_ENABLE_SSL: "true"
      MQTT_SSL_ENABLED: "true"
      MQTT_SSL_CERT: "/config/certs/tb.crt"
      MQTT_SSL_PRIVATE_KEY: "/config/certs/tb.key"
      SSL_ENABLED: "true"
      SSL_CERT: "/config/certs/tb.crt"
      SSL_KEY: "/config/certs/tb.key"
    depends_on:
      - postgres

volumes:
  postgres-data:
    name: tb-postgres-data
    driver: local
  - C:/Users/alexa/Documents/Thingsboard/certs:/config/certs

networks:
  tb-net:
    driver: bridge